<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @event.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw(@event.content) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
