<!-- Files with a _ infront of it means it is a partial facility -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "AttendIt", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">
        <% if user_signed_in? %>
          <li><%= link_to 'Edit Events', '/events' %></li>
          Signed in as  <%= current_user.name %>
        <% end %></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Events', '/events' %></li>
        <% if !(user_signed_in?) %>
          <li><%= link_to "Log in", '/auth/login' %></li>
        <% else %>
          <li><%= link_to 'Log out', '/auth/logout', method: :delete%></li>
        <% end %>
      </ul>
    </nav>

  </div>
</header>
